<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <package android:name="com.discord" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="AniVault"
        android:icon="@drawable/anivault_icon"
        android:usesCleartextTraffic="false"
        android:theme="@style/Theme.AniVaultPresence">

        <activity
            android:name="com.discord.socialsdk.AuthenticationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${DISCORD_APP_SCHEME}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
